<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="login">
    <div class="text-center instructions">
       <strong> Logo</strong>
    </div>
    <div class="text-center"> 
      <a href="/login" class="button button-positive">
        Login
      </a>
      <a href="/signup" class="button button-positive">
        Register
      </a>
      <a href="javascript:void(0);" class="button button-positive" ng-click="home.loginWithFacebook()">
        Login with facebook
      </a>
    </div>
  </ion-content>
</ion-view>